<div class="row">
	<div class="col-md-6">
		<section class="answer-form">
			<h3>Loan Repayment</h3>
			<form class="form-horizontal" method="POST" action = "/api/LoanRepayment/">
				<div class="form-group">
					<label for="answer" class="control-label col-sm-3">Loan Amount</label>
					<div class="col-sm-9">
						<textarea placeholder="Loan Amount" id="lAmount" class="form-control" name="LoanAmount"></textarea>
						<br/>
					</div>
					
					<label for="answer" class="control-label col-sm-3">Monthly Amount</label>
					<div class="col-sm-9">
						<textarea placeholder="Monthly Amount" id="mAmount" class="form-control" name="MonthlyAmount"></textarea>
						<br/>
					</div>
					<label for="answer" class="control-label col-sm-3">Interest Rate</label>
					<div class="col-sm-9">
						<textarea placeholder="Interest Rate" id="iRate" class="form-control" name="InterestRate"></textarea>
						<br/>
					</div>
				</div>
				<button class="btn btn-default" type="submit">Submit Values</button>
			</form>
		</section>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<section class="answer-form">
			<h3>Retirement Amount</h3>
			<form class="form-horizontal" method="POST" action = >
				<div class="form-group">
					<label for="answer" class="control-label col-sm-3">Loan Amount</label>
					<div class="col-sm-9">
						<textarea placeholder="Loan Amount" id="lAmount" class="form-control" name="LoanAmount"></textarea>
						<br/>
					</div>
					
					<label for="answer" class="control-label col-sm-3">Monthly Amount</label>
					<div class="col-sm-9">
						<textarea placeholder="Monthly Amount" id="mAmount" class="form-control" name="Monthly Amount"></textarea>
						<br/>
					</div>
					<label for="answer" class="control-label col-sm-3">Interest Rate</label>
					<div class="col-sm-9">
						<textarea placeholder="Interest Rate" id="iRate" class="form-control" name="InterestRate"></textarea>
						<br/>
					</div>
				</div>
				<button class="btn btn-default" type="submit">Submit Values</button>
			</form>
		</section>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<section class="answer-form">
			<h3>Invested Amount</h3>
			<form class="form-horizontal" method="POST" action = >
				<div class="form-group">
					<label for="answer" class="control-label col-sm-3">Loan Amount</label>
					<div class="col-sm-9">
						<textarea placeholder="Loan Amount" id="lAmount" class="form-control" name="LoanAmount"></textarea>
						<br/>
					</div>
					
					<label for="answer" class="control-label col-sm-3">Monthly Amount</label>
					<div class="col-sm-9">
						<textarea placeholder="Monthly Amount" id="mAmount" class="form-control" name="Monthly Amount"></textarea>
						<br/>
					</div>
					<label for="answer" class="control-label col-sm-3">Interest Rate</label>
					<div class="col-sm-9">
						<textarea placeholder="Interest Rate" id="iRate" class="form-control" name="InterestRate"></textarea>
						<br/>
					</div>
				</div>
				<button class="btn btn-default" type="submit">Submit Values</button>
			</form>
		</section>
	</div>
</div>