<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <div class="container">
        <header>
        </header>
        <main>
            <h2><%= pageTitle %></h2>
			
			<h3>Anstwer:<%= display %></h3>
			
                
        </main>
    </div>

    <% include ../partials/scripts %>
</body>

</html>